html, home {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}

.app-layout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-layout > main{
  flex: 1;
}
