.header{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: none;
    margin: none;
    gap: 1%;
    height: 70px;
    font-size: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.header-btn{
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border-style: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
    padding: 1%;
    font-size: 120%;
    height: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.no-underline{
  text-decoration: none;
  color: inherit;
}

@keyframes header-btn-hover{
  100% {
     box-shadow: inset 0 0px 10px rgba(0.15, 0.15, 0.15, 0.15);
  }
}

.header-btn:hover{
  animation: header-btn-hover 0.1s linear forwards;
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background-color: #fafafa;
  color: #222;
}

